extends ../layout

block content
  script(src='http://masonry.desandro.com/jquery.masonry.min.js')
  script
    var $container = $('.thumbnails');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.item',
        columnWidth : 240
      });
    });
  div.page-header.profile_page-header
    h1 
      #{connection}
  div#backlink 
      a(href='../connections') &laquo; Connections

  ul.thumbnails
    each profile, key in profiles
      if profile.hasOwnProperty('profile') && profile.profile.avatar
        li.span2
          a.thumbnail(href='/profile/'+connection+'/'+encodeURIComponent(key))
            div.imgwrap
              img(src="#{profile.profile.avatar}", alt="#{key}'s photo")
              span.nicks #{profile.profile.primary}
