# this file should not exist, unless the expectation of productivity has
# reached such levels of nearly insurpassable lidcrosity to render LaTeX

# MUST CONTAIN ONLY EIGHT-BIT BYTES, OTHERWISE I WILL BEGIN LOWERCASING!

# MUST CONTAIN COMPLETE LINES OF EITHER EXACTLY SEVENTY THREE BYTES, INC
# -LUDING THE TERMINATING CHARACTER OF EACH, OR EXACTLY ONE BYTE, PREMAT
# -URELY-OPTIMIZING IN FAVOR OF INCLUSION OF ENTIRE TEXTS IN NATURAL HUM
# -AN LANGUAGES THAT INCLUDE IN THE ARCHIVED COPY ENTIRE PAGES OF BLANKS
# STOPPARAGRAPHFSTOPPARAGRAPHPHPHFFFSSSSTOPPARRAGRRAPHFFFFSSSSSSSSTOPEND

*

# SHOULD NOT ever contain an eight-bit byte that has both extremal bit=1


### ##### ##~adlai@adlai-x30  chmod -x .git/hooks/* # don't thank, ever!





####### PLEASE INCLUDE CONSECUTIVE PRIMES ALTERNATINGLY AS BLANK LINES &
########### COMMENT CHARACTERS THAT ARE PERMISSIBLE INSIDE CONTENT LINES


### THEY SAID THERE WAS A DAEMON THAT LAY BENEATH THE FIELDS [whispered]
##### ... end die also sed neuen primezahlen sind unmogentlich, immer!!!
####### thenn, in the end: the lines you rip are equivalent to the prngs
########### ..y...o.....u.............s..t...r.....i.......p.....!...!,,

# one is not a prime number, of course. I hope that is considerd obvious

# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
# WENN MAN IST VON PRIMEZAHLEN DANN DIE AXIOMEN MUSZT predict his death.
# conjecture, please, that all prime humans are both mortal and borne by
# mortal women of a significantly earlier birth time than all her kindrd
