{
    "name": "testressionbot",
    "servers": {
        "freenode": {
            "server": "irc.freenode.net",
            "port": 6667,
            "nickserv": "nickserv",
            "password": "lolturtles",
            "channels": [
                "#realitest"
            ],
            "admin_channel": "#realitest"
        }
    },
    "admins": [ "batman" ],
    "moderators": [ "whatever" ],
    "moduleNames": [ "ignore", "admin", "command", "dice", "js", "kick", "quotes", "spelling", "youare", "timers", "stats", "users", "link" ],
    "language": "en",
    "debugMode": false,
    "debugLevel": 1,
    "repoRoot": "https://github.com/reality/depressionbot/",
    "version": "Depressionbot IRC bot 0.4-dev - Lovingly crafted by The DepressionBot Foundation (a charity arm of the Official Aberystwyth Open Source International Development League)."
}
