{
    "name": "testressionbot",
    "servers": {
        "freenode": {
            "server": "irc.freenode.net",
            "port": 6667,
            "nickserv": "nickserv",
            "password": "lolturtles",
            "channels": [
                "#realitest"
            ]
        }
    },
    "admins": [ "batman" ],
    "moderators": [ "whatever" ],
    "moduleNames": [ "ignore", "admin", "command", "dice", "js", "kick", "quotes", "spelling", "youare", "stats", "users" ],
    "language": "english",
    "debugMode": true
}
