h3 Channels on #{connection}
div#backlink 
    a(href='/connections') &laquo; Connection List
ul#quotelist
  -each channel in channels
    a(href='/users/'+connection+'/'+channel.substr(1,channel.length))
      li.quotes #{channel}
