!!! 5
html(lang='en')
  head 
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/styles.css')
    title #{name} web interface
  body
    div#page
        div#title 
            a(href='/') #{name} web interface
        div#main
            block content
    script(type="text/javascript", src="/script.js")
