!!! 5
html(lang='en')
  head 
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/styles.css')
    title Depressionbot web interface
  body
    div#page
        div#title 
            a(href='/') Depressionbot web interface
        div#main
            !{body}
    script(type="text/javascript", src="/script.js")
