!!! 5
html(lang: 'en')
  head 
    meta(charset: 'utf-8')
    link(rel: 'stylesheet', type: 'text/css', href: '/styles.css')
    title Depressionbot web interface
  body
    div#title Depressionbot web interface
    !{body}
