extends layout

block content
    div#backlink 
        a(href='/') &laquo; Home
    br
    if message
        p #{message}
    div#login
        form(name='loginform' action='/login', method='post')
            input(type="hidden", name="redirect", value=redirect)
            p 
              key Username 
              input(type="text", name="username")
            p 
              key Password 
              input(type="password", name="password")
            p 
              input(type="submit", value="Log In")

