extends layout

block content
    div#backlink 
        a(href='/') &laquo; Home
    div#controls
        input(type="text", name="search", id="search-text", oninput="search(this.value)")
    ul#quotelist
        -each quote in quotelist
            a(href='/quotes/'+quote)
                li.quotes #{quote}

