ul#quotelist
    -each quote in quotes
        -if(quote.match(locals.url_regex))
            li.quote 
                a(href=quote)
                    -if(quote.match(/(jpg|png|gif|jpeg|tiff)$/))
                        img(src=quote)
                    -else
                        =quote
        -else
            li.quote #{quote}
