h3 Users currently in #{channel} on #{connection}
div#backlink 
    a(href='/channels/'+connection) &laquo; Channel List
ul#quotelist
  -each nick in nicks
    a(href='/user/'+connection+'/'+channel.substr(1,channel.length)+'/'+nick)
      li.quotes #{nick}
