extends ../layout

block content
    h3 Servers
    div#backlink
        a(href='/') &laquo; Home
    ul#quotelist
        -each server in servers
          a(href='/bans/'+server) 
            li.quotes #{server}
