body { background: #000; font-family: sans-serif; text-align: center; }
blink
{
	animation:blink 1s;
	animation-iteration-count: infinite;
	-webkit-animation:blink 1s;
	-webkit-animation-iteration-count: infinite;
    color: #FFF;
    font-size: 12em;
}
@keyframes blink
{
	0%{opacity:0.0;}
	50%{opacity:0.0;}
	50.01%{opacity:1.0;}
	100%{opacity:1.0;}
}
@-webkit-keyframes blink
{
	0%{opacity:0.0;}
	50%{opacity:0.0;}
	50.01%{opacity:1.0;}
	100%{opacity:1.0;}
}

