body { background: #000; font-family: sans-serif }

.stamp {
    text-align: center;
    color: #FFF;
    font-size: 12em;
}

.flash {
    text-decoration: blink;
}

@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.flash {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}
