#container {
  text-align:center;
}

#container,#image {
  margin:0;
  max-height:100%;
  padding:0;
}

#loading {
  background:rgba(43,43,43,0.8);
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
  color:#85bf25;
  font-family:sans-serif;
  font-weight:700;
  left:0;
  padding:20px;
  position:absolute;
  top:50px;
}

html,body {
  background-color:#121211;
  height:100%;
  margin:0;
  padding:0;
}
