#container {
    text-align:center;
}

#container,#image {
    margin:0;
    max-height:100%;
    max-width:100%;
    padding:0;
}

#details {
    display:none;
    font-weight:700;
    left:25px;
    min-width:300px;
    padding:20px;
    text-align:center;
    top:25px;
}

#link {
    left:25px;
    text-align:center;
    width:168px;
    font-family:monospace
}

#link,#loading,#reddit {
    font-family:monospace;
    font-size:10px;
    padding:10px;
}

#link,#loading {
    top:95px;
}

#reddit {
    top:135px;
    left:25px;
    min-width:300px;
    text-align:center;
}

#loading {
    font-weight:500;
    left:220px;
    min-width:105px;
}

#loading,#details,#link,#reddit {
    background:rgba(43,43,43,0.8);
    border-radius:5px;
    color:#85bf25;
    font-family:sans-serif;
    position:absolute;
}

html,body {
    background-color:#121211;
    margin:0;
    padding:0;
    overflow:hidden;
    white-space-collapse:discard;
}
