pre#gitdiff {
    text-align:left;
    width:80;
    margin:auto;
}
div#main {
    text-align:inherit;
    font-size:18px;
}
h2,h3,h4,h5,h6,.center {
    text-align:center;
}
table#milestones {
    margin:auto;
    width:80%;
}
table#milestones td {
    padding:5px;
}
p.intro {
    text-align:center;
    border:1px solid #ccc;
    padding:20px;
    border-radius:4px;
}
div.progress.open {
    background-image: linear-gradient(to bottom,#f4fff4,#f9fff9);
}
div.progress {
    margin-top:auto;
    margin-bottom:auto;
}
div.progress-inner.open {
    width:20%;
    background-image: linear-gradient(to bottom,#3fff3f,#7fff7f); 
}
div.progress.closed { 
    background-image: linear-gradient(to bottom,#fff5f5,#fff9f9);
}
div.progress-inner.closed {
    background-image: linear-gradient(to bottom,#ff3f3f,#ff7f7f);
    width:20%;
}

#config  {
    text-align:center;
}

li {
    background-image: linear-gradient(to bottom, #f5ebe2, #f5e6d8);
    border:1px solid #f5dcc5;
    padding:5px;
    margin:5px;
    display:inline-block;
}

* {
   text-shadow:none;
}

#footer {
    font-size:80%;
}
