pre#gitdiff {
    text-align:left;
    width:80;
    margin:auto;
}
div#main {
    font-size:18px;
}
h2,h3,h4,h5,h6,.center {
    text-transform:lowercase;
}
table {
    margin:auto;
    width:80%;
}
table td {
    padding:5px;
}
p.intro {
    border:1px solid #ccc;
    padding:20px;
    border-radius:4px;
}
div.progress.open {
    background-color: #f4fff4;
    background-image: linear-gradient(to bottom,#f4fff4,#f9fff9);
}
div.progress {
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
    font-size:50%;
    color:gray;
    min-width:200px;
}
div.progress-inner.open {
    background-color: #3fff3f;
    background-image: linear-gradient(to bottom,#3fff3f,#7fff7f); 
    float:left;
    margin-right:2px;
}
div.progress.closed { 
    background-color: #fff5f5;
    background-image: linear-gradient(to bottom,#fff5f5,#fff9f9);
}
div.progress-inner.closed {
    background-color: #ff3f3f;
    background-image: linear-gradient(to bottom,#ff3f3f,#ff7f7f);
}

#config  {
    text-transform:lowercase;
}

ul {
    margin-left:0;
    margin-bottom:5px;
    font-size:80%;
}
li {
    background-image: linear-gradient(to bottom, #f5ebe2, #f5e6d8);
    border:1px solid #f5dcc5;
    padding:5px;
    margin:5px;
    display:inline-block;
}

#footer {
    font-size:80%;
}
/* testing stuff */
.en {
    background-color:red;
    background-image:none;
}
.fr {
    background-color:blue;
    background-image:none;
}
.de {
    background-color:yellow;
    background-image:none;
}
.nl {
    background-color:darkorange;
    background-image:none;
}
.cy {
    background-image:palevioletred;
    background-image:none;
}
.es {
    background-image:none;
    background-color:orchid;
}
