pre#gitdiff {
    text-align:left;
    width:80;
    margin:auto;
    text-transform:none;
    clear:both;
}
ul#credits {
    text-transform:capitalize;
}
div#main {
    font-size:18px;
    text-transform:lowercase;
}
table {
    margin:auto;
    width:80%;
}
table td {
    padding:5px;
}
p.intro {
    border:1px solid #ccc;
    padding:20px;
    border-radius:4px;
    text-transform:none;
}
div.progress.open {
    background-color: #f4fff4;
    background-image: linear-gradient(to bottom,#f4fff4,#f9fff9);
}
div.progress {
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
    font-size:50%;
    color:gray;
    min-width:200px;
}
div.progress-inner.open {
    background-color: #3fff3f;
    background-image: linear-gradient(to bottom,#3fff3f,#7fff7f); 
    float:left;
    margin-right:2px;
}
div.progress.closed { 
    background-color: #fff5f5;
    background-image: linear-gradient(to bottom,#fff5f5,#fff9f9);
}
div.progress-inner.closed {
    background-color: #ff3f3f;
    background-image: linear-gradient(to bottom,#ff3f3f,#ff7f7f);
}

ul {
    margin-left:0;
    margin-bottom:5px;
    font-size:80%;
}
li {
    background-image: linear-gradient(to bottom, #f5ebe2, #f5e6d8);
    border:1px solid #f5dcc5;
    padding:5px;
    margin:5px;
    display:inline-block;
}

#footer {
    font-size:80%;
}
h2 {
    margin-top:40px;
    margin-bottom:30px;
}
h3 {
    margin-top:30px;
    margin-bottom:20px;
}
#translations td {
    text-transform:none;
}
p#pullreq {
    float:right;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    border-top-left-radius:5px;
    padding:10px;
    margin:5px;
    display:none;
}
p#revnum {
    float:left;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
    border-top-right-radius: 5px;
    margin:5px;
    padding:10px;
    margin-bottom:0px;
}
p#branch {
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin:auto;
    display:inline-block;
    padding:10px;
    margin-top:0px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;

}
h2 {
    border-bottom: 1px solid #ccc;
    border-top:1px solid #ccc;
    margin-left:auto;
    margin-right:auto;
    width:40%;
}
