/*
 * Authors 
 * Dafydd "Afal" Francis [ http://www.somethingafal.com/ ]
 * "npc" / Samuel Clements [ http://borntyping.co.uk ]
 * danharibo / Daniel Evans [ http://bytecove.co.uk]
 */

html {
}

body {
    padding: 25px;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #444;
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,h2 {
	margin: 0;
	padding: 0;
}

p {
	margin: 15px 5px;
}

div#page {
	margin: 0 auto 0 auto;
}

div#backlink {
	position: absolute;
	top: 10px;
	left: 15px;
    text-align: left;
	font-size: 0.8em;
}

div#title {
    font-size: 42px;
    font-weight: bold;
    margin: 0 0 10px 10px;
    color: #444;
}

div#title a {
	color: #000;
}

div#main {
    position: relative;
    padding: 10px 5px;
    font-size: 21px;
    text-align:center;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #000;
}

div#controls {
	width: 100%;
        padding: 10px;
}

input {
	width: 80%;
}

a,a:active,a:visited {
  text-decoration: none;
}

/* Index Page */
#modulelinks {
	margin: 0;
	padding: 0;
}

.module {
	display: inline-block;
	width: 45%;	
	padding: 15px 0;
	margin: 0 2%;
	background: #F5F5F5;
	border-radius: 15px;
}
.module:hover {
	background: #BBB;
}

ul#quotelist {
    padding: 0;
    margin: 0;
}

li.quotes, li.quote {
    color: #3333FF;
}

/* Quotes list page */

li.quotes {
    margin: 8px;
    padding: 6px;
    display: inline-block;
    border-radius: 10px;
}

li.quotes:hover {
    background: rgba(0,0,255,0.3);
}

.hidden {
    display: none !important;
}

/* Quote list pages */

div#quotelist {
    width:100%;
}

li.quote {
    background: white;
    border-radius: 5px;
    display: inline-block;
    margin: 6px auto;
    padding: 6px;
    font-size: 18px;
    width: 40%;
}

img {
	max-width: 100%;
}

/* Polls */
#votelist {
	margin: 10px 0;
	padding: 0 40px;
}

li.option {
	list-style: none;
	text-align: left;
	font-size: 1.2em;
}

li.option-votes {
	list-style: none;
	text-align: left;
	margin-bottom: 10px;
}

.vote-percentage {
	height: 20px;
	background: #444;
}
.vote-track {
	height: 20px;
	width: 100%;
	background: #EEE;
	margin: 2px 0;

	box-shadow: inset 0px 0px 3px #444;
}

/** 
 * DataTables 
 * Based on http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css
 */
.sorting { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/images/sort_desc_disabled.png') no-repeat center right; }

/**
 * Bootstrap Overrides
 */
.profile_page-header{
  margin: 5px 0 10px 0;
}

.profile_row{
  text-align: left;
  margin-bottom: 10px;
}

/**
 * spaceinvader's thumbnails
 */
span.nicks {
  display: none;
  color: #fff;
  text-decoration: none;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  word-wrap: break-word;
}
div.imgwrap {
  background-color: #000;
  position: relative;
}
div.imgwrap > img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.thumbnail:hover > div.imgwrap > img {
  opacity: 0.5;
}

.thumbnail:hover > div.imgwrap > span.nicks {
  display: inline;
}

/* footer */
#footer {
    margin-top:5px;
    margin-right:10px;
    margin-left:10px;
}
#bread {
    float:right;
    margin-left: 2px;
    margin-right: 2px;
    padding-left:2px;
    padding-right:2px;
    background-color:#f5f5f5;
    border-radius:3px;
}

