/*
 * Authors 
 * Dafydd "Afal" Francis [ http://www.somethingafal.com/ ]
 * "npc" / Samuel Clements [ http://borntyping.co.uk ]
 * danharibo / Daniel Evans [ http://bytecove.co.uk]
 */

html {
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 25px;
    margin: 0;
    font-family: "Lucida Grande";
    color: #444;
    text-shadow: 1px 1px 2px #2B2B2B;
}

div#page {
	width: 90%;
	margin: 0 auto 0 auto;
}

div#title {
    font-size: 42px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #444;
}

div#title a {
	color: #000;
}

div#main {
    padding: 25px 0px;
    margin: 0px; 
    font-size: 21px;
    text-align:center;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #000;
}

div#controls {
	width: 100%;
}

input {
	width: 80%;
}

a,a:active,a:visited {
  text-decoration: none;
}

ul#quotelist {
    padding: 0;
    margin: 0;
}

li.quotes, li.quote {
    color: #3333FF;
}

/* Quotes list page */

li.quotes {
    margin: 8px;
    padding: 6px;
    display: inline-block;
    border-radius: 10px;
}

li.quotes:hover {
    background: rgba(0,0,255,0.3);
}

.hidden {
    display: none !important;
}

/* Quote list pages */

div#quotelist {
    width:100%;
}

li.quote {
    background: white;
    border-radius: 5px;
    display: inline-block;
    margin: 6px auto;
    padding: 6px;
    font-size: 18px;
    width: 40%;
    text-shadow: 1px 1px 1px black;
}

img {
	max-width: 100%;
}
