/*
 * Authors 
 * Dafydd "Afal" Francis [ http://www.somethingafal.com/ ]
 * "npc" / Samuel Clements [ http://borntyping.co.uk ]
 */

html {
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 25px;
    margin: 0;
    font-family: "Lucida Grande";
    color: black;
    text-shadow: 1px 1px 2px #2B2B2B;
}

div#title {
    font-size: 42px;
    font-weight: bold;
}

div#main {
    padding: 0px;
    margin: 0px; 
    font-size: 21px;
    text-align:center;
}

a {
  text-decoration: none;
}

div.quotes, div.quote {
    color: #12699B;
    box-shadow: 0 0 20px black;
    opacity: 0.5;
}

/* Quotes list page */

div.quotes {
    background: white;
    float: left;
    display: inline;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}

div.quotes:hover {
  opacity: 0.8;
}

div.quotes a {

}

/* Quote list pages */

div#quotelist {
    width:100%;
}

div#quotelist div.quote {
    background: white;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    width:90%;
    opacity: 0.7;
    color:#12696B;
    text-shadow: 1px 1px 1px black;
}

div#quotelist div.quote:hover {
    opacity: 1;
}