extends ../layout

block content
    h3 Channels on #{server}
    div#backlink
        a(href='/report') &laquo; Server List
    ul#quotelist
        -each channel in channels 
            a(href='/report/'+server+'/'+encodeURIComponent(channel))
              li.quotes #{channel}
