extends ../layout

block content
  h3 Notifications Missed by #{user.primaryNick}
  div#backlink
    a(href='/notify') &laquo; Notifications
  p
  if notifies
    div#profile_datatable
      table.table.table-hover.data
        thead
          tr
            th Date
            th Channel
            th Message
        tbody
          each notify in notifies
            tr
              td #{notify.time}
              td #{notify.channel}
              td #{notify.message}
