extends ../layout

block content
    h3 Servers
    div#backlink
        a(href='/') &laquo; Home
    div
        a(href='/notify/'+user.server+'/missing') My Missed Notifications
    ul#quotelist
        -each server in servers
          a(href='/notify/'+server) 
            li.quotes #{server}
