extends ../layout

block content
    div#http
        Total Imgur HTTP requests made: #{totalHttpRequests}
    div#api
        Total Imgur API requests made: #{totalApiRequests}
    div#images
        Total Images generated: #{totalImages}
