!!! 5
html(lang='en')
  head 
    meta(charset='utf-8')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    script(type="text/javascript", src="/imgurr.js")
    link(rel="stylesheet", href="/imgurr.css")
    title random imgur
  body
    div#loading Loading image 1...
    div#details Press [SPACE] to load a new image
    div#count
      #{highscore} 
    div#count2
      ø
    ul#history
      li Press [SPACE] for next 
    div#container
      img#image
