doctype html
html(lang='en')
  head 
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/flash.css')
    title #{name} web interface
  body
    div.container
      blink [ span.flash(style='color: #'+colour+';') #{text} span ]
