extends ../layout

block content
    div#backlink 
        a(href='/') &laquo; Home
    div#controls
        input(type="text", name="search", id="search-text", oninput="search(this.value)")
    ul#quotelist
        -each poll in polllist
            a(href='/poll/'+poll)
                li.quotes #{poll}

